<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img 
                src="https://file-cdn.scdkey.com/product/20180615165312_scdk.jpg" 
                alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque hic est sit dolorem enim dolores laudantium nostrum, pariatur et, molestias eius, laborum optio exercitationem placeat perspiciatis dolorum delectus aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        R348.29
                    </div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img 
                src="https://file-cdn.scdkey.com/product/20180615165312_scdk.jpg" 
                alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque hic est sit dolorem enim dolores laudantium nostrum, pariatur et, molestias eius, laborum optio exercitationem placeat perspiciatis dolorum delectus aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        R348.29
                    </div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img 
                src="https://file-cdn.scdkey.com/product/20180615165312_scdk.jpg" 
                alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque hic est sit dolorem enim dolores laudantium nostrum, pariatur et, molestias eius, laborum optio exercitationem placeat perspiciatis dolorum delectus aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        R348.29
                    </div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img 
                src="https://file-cdn.scdkey.com/product/20180615165312_scdk.jpg" 
                alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque hic est sit dolorem enim dolores laudantium nostrum, pariatur et, molestias eius, laborum optio exercitationem placeat perspiciatis dolorum delectus aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        R348.29
                    </div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img 
                src="https://file-cdn.scdkey.com/product/20180615165312_scdk.jpg" 
                alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque hic est sit dolorem enim dolores laudantium nostrum, pariatur et, molestias eius, laborum optio exercitationem placeat perspiciatis dolorum delectus aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        R348.29
                    </div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img 
                src="https://file-cdn.scdkey.com/product/20180615165312_scdk.jpg" 
                alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque hic est sit dolorem enim dolores laudantium nostrum, pariatur et, molestias eius, laborum optio exercitationem placeat perspiciatis dolorum delectus aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        R348.29
                    </div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>